/* Reset navigator default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* Configuration */
:root {
    --bg: #222;
    --bg-lighter: #333;
    --bg-shadow: #000;

    --txt: #EEE;

    --tint: #2870ea;
}

:root.light {
    --bg: #DDD;
    --bg-lighter: #FFF;
    --bg-shadow: #BBB;

    --txt: #111;

    --tint: #2870ea;
}
/* Global placement and style */
html {
    background-color: var(--bg);
    color: var(--txt);
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* Header style and placement */
header {
    font-family: monospace;
    margin: 1rem;
}

header nav {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    margin: 1rem 0;
}

header #app-icon {
    width: 64px;
    height: 64px;
}

/* Main content style and placement */
main > section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
}
  
img {
    width: 100%;
    cursor: zoom-in;
}

article {
    text-align: left;;
}

:root.info section > div{
    grid-template-columns: repeat(auto-fit, 25rem 40rem );
}

:root:not(.info) article {
    display: none;
}

article details summary {
    cursor: pointer;
}

article details {
    margin: 1rem;
}
hr {
    background-color: var(--txt);
    height: 1px;
    width:10vw;
    margin: 1rem auto ;
}

main > section > div {
    margin: 2rem 0;
}
