/* Font setup */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
* { font-family: 'Josefin Sans', sans-serif; }
h1 { font-weight: 600; font-size: 275%; }
h2 { font-weight: 600; }
h3 { font-weight: 500; }
p, ul { font-weight: 400;}

/* Reset navigator default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* Configuration */
:root {
    --bg: #222;
    --bg-lighter: #333;
    --bg-shadow: #000;

    --txt: #EEE;

    --tint: #2870ea;
}

:root.light {
    --bg: #DDD;
    --bg-lighter: #FFF;
    --bg-shadow: #BBB;

    --txt: #111;

    --tint: #2870ea;
}
/* Global placement and style */
html {
    background-color: var(--bg);
    color: var(--txt);
}
  
