/** Loading failure animation **/
.loading-failure {
    position: relative;
    margin-bottom: 2rem;
}
.loading-failure:after {
    content: 'Chargement en cours...';
}

.loading-failure:before {
    /* Trigger visibilty */
    content: '';
    /* Positionning */
    position: absolute;
    bottom: -1rem;
    left: 50%;
    /* Make it a little dot */
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    /* Customization */
    background-color: #F22;
    /* Behind text */
    z-index: -1;
    /* Animated it ! */
    animation: AnimOscilate forwards infinite 4s, AnimHueRotation forwards infinite 10s;
}

@keyframes AnimOscilate {
    from {
        transform: translate(-4rem);
    }
    50%{
        transform: translate(4rem);
    }
    to {
        transform: translate(-4rem);
    }
}

@keyframes AnimHueRotation {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

