body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* Header style and placement */
header {
    font-family: monospace;
    margin: 1rem;
}

header nav {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    margin: 1rem 0;
}

header #app-icon {
    width: 64px;
    height: 64px;
}

/* Main content style and placement */
main > section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem 3rem);
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
}
  
main > section img {
    width: 100%;
    cursor: zoom-in;
}

article {
    text-align: left;
}

article p, article ul li {
    text-align: justify;
}

article ul {    
    margin-left: 1rem;
    list-style-type: '- ';
}

article ul li ~ li {
    margin-top: 1.8rem;
}

:root.info section > div{
    grid-template-columns: repeat(auto-fit, 25rem 40rem );
}

article:not(.description-shown),
article:not(.description-shown) + div.dummy-div{
    display: none;
}

article details summary {
    cursor: pointer;
}

article details {
    margin: 1rem;
}
hr {
    background-color: var(--txt);
    height: 1px;
    width:10vw;
    margin: 1rem auto ;
}

main > section > div {
    margin: 2rem 0;
}

main .interact-panel {
    display: flex;
    flex-direction: column;
    grid-gap: .7rem;
    margin-left: -.2rem;
}